.second_spouse_signature = render 'documents/signature', signature: document.second_spouse_signature, name: 'second_signature', spouse: document.second_spouse_full_name
.first_spouse_signature = render 'documents/signature', signature: document.first_spouse_signature, name: 'first_signature', spouse: document.first_spouse_full_name
