$wevorce-green:                #95c75e;
$wevorce-green-lighten:        #d5e9bf;
$wevorce-green-darken:         #85bc3c;
$wevorce-purple:               #8560a8;
$background-color:             #eeeff1;

$light-gray:                   #EEE;
$black:                        #333;
$dark-gray:                    #444;
$gray:                         #555;

$header-background:            #595959;
$header-separator:             #444;
$header-text:                  #ccc;

$header-tertiary-background:   $wevorce-green-lighten;
$header-tertiary-text:         $wevorce-green-darken;

$warning-background:           #fcf8e3;
$warning-text:                 #c09853;

$error-background:             #f2dede;
$error-border:                 #e6a9ab;
$error-text:                   #b94a48;

$focus-border:                 #76a8cb;
$input-border: #EEEFF1;

$success-background:           #dff0db;
$success-border:               #95c75e;
$success-text:                 #468847;

$info-background:              #d9edf7;
$info-text:                    #3a87ad;

$link-color:                   $wevorce-green;
$border-color:                 #eeeffA;

$visual-grid:                  false;
$gw-column:                    30px;
$gw-gutter:                    16px;

$font-sans-serif:              'proxima-nova', Helvetica, Arial, sans-serif;
$font-serif:                   'jubilat', serif;
