p Your $500 Wevorce reservation fee has been received. A Wevorce Family Architect will follow-up with you soon.

p Details:

p What: Wevorce Mediation fee
p Amount: $500
p = "Paid: #{Time.now.to_formatted_s(:long)}"
p = "By: #{@cardholder_name}"
